/* Colors */

$primary: #f8f8f8;
$grey: #979797;
$grey-light: #e6dada;
$grey-dark: #444444;
$secondary: #121212;

/* Font */

$ff: 'Spartan', sans-serif;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fs-xs: 10px;
$fs-s: 14px;
$fs-m: 16px;
$fs-l: 20px;
$fs-xl: 25px;
